{% include 'web/header.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

<div class="contact-section" style="height: 100%;">
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <h1>Hi {{ name }}!</h1>
            {% if waitlisted %}
                <h1>You are waitlisted, if space opens up we will let you know...</h1>
            {% else %}
                <h1>You are fully registered! We look forward to seeing you!</h1>
            {% endif %}
            <br>
            <h2>Here are your available actions... </h2>
            {% if admin %}
                <a href="/admin"><p>Admin Dashboard</p></a>
            {% endif %}
            <a href="#" id="drop-link"><p>Drop Application :(</p></a>
            <!--<a href="https://docs.google.com/presentation/d/11gkNtgZf04OCj-mSIc_UX8qKbkMC_Bea66PfBJYqMsk/edit?usp=sharing">
                <p>View
                    opening slides!</p></a>-->
        </div>
    </div>
</div>

<script>
    let errColor = '#E74C3C';
    $(document).ready(() => {
        $('#drop-link').click((e) => {
            e.preventDefault();
            let id = {{ id }};
            drop(id);
        });
    });
    const drop = (id) => {
        swal({
            title: 'Drop your application?',
            text: 'Are you sure you wish to drop your application? This cannot be undone.',
            type: 'warning',
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: 'Yes, drop!',
            confirmButtonColor: errColor
        }, () => {
            $.get('/drop?mlh_id=' + id, (data) => {
                let title = '';
                let msg = '';
                let type = '';
                if (data.status === 'success') {
                    title = 'Dropped!';
                    msg = 'Your application was successfully dropped!';
                    type = 'success';
                } else {
                    title = 'Error!';
                    msg = JSON.stringify(data);
                    type = 'error';
                }
                swal(title, msg, type);
                if (data.status === 'success') {
                    setTimeout(() => {window.location = '/';}, 5000);
                }
            });
        });
    }
</script>

{% include 'web/footer.html' %}