<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HackTCNJ">
    <meta name="author" content="bohinsk1@tcnj.edu">
    <title>HackTCNJ 2018</title>
    <link rel="icon" href="../../static/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../../static/css/scrolling-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
          integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body style="margin-bottom: 0px !important;" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
      data-offset="91">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a class="page-scroll" href="https://www.hacktcnj.com"><b>HOME</b></a></li>
            </ul>
            <div class="pull-right header-right">
                <a href="https://github.com/kbohinski/chronicel"><i class="fa fa-github fa-2x"
                                                                                            aria-hidden="true"></i></a>
                <a href="https://facebook.com/hacktcnj"><i class="fa fa-facebook fa-2x"
                                                                                            aria-hidden="true"></i></a>
                <a href="https://twitter.com/hacktcnj"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a> <a
                        href="/register" class="btn btn-primary" style="margin-bottom: 12px;"><b>APPLY NOW!</b></a>
            </div>
        </div>
    </div>
</nav>
