{% include 'header.html' %}

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.4.3.js"></script>
<script src="https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.min.js"></script>
<script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../static/js/admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<style>
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.15);
    }

    .table-hover > tbody > tr:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
        content: " \25B4\25BE"
    }

    canvas {
        max-width: 500px;
        max-height: 500px;
    }
</style>

<div class="contact-section" style="height: auto; background-repeat: repeat; background-size: contain;">
    <div class="container-fluid" style="margin-left: 3%; margin-right: 3%;">
        <div class="row" style="margin-top: 10%;">
            <h2><a href="{{ mlh_url }}">Get JSON object of users from MLH. <b>Do NOT share this URL.</b></a></h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 style="">Gender:</h2>
                <canvas id="genderCanvas" width="400" height="400"></canvas>
                <script>
                    let genderCtx = document.getElementById('genderCanvas')
                    let genderChart = new Chart(genderCtx, {
                        type: 'doughnut',
                        data: {
                            labels: ['Female', 'Male'],
                            datasets: [
                                {
                                    data: [{{ female_count }}, {{ male_count }}]
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: false
                            },
                            legend: {
                                display: false
                            },
                            labels: {
                                display: false
                            }
                        }
                    })
                </script>
            </div>
            <div class="col-md-4">
                <h2 style="">Schools:</h2>
                <canvas id="schoolCanvas" width="400" height="400"></canvas>
                <script>
                    let schoolNames = []
                    let schoolNums = []

                    {% for school in schools %}
                        schoolNames.push('{{ school }}')
                        schoolNums.push({{ schools[school] }})
                    {% endfor %}

                    let schoolCtx = document.getElementById('schoolCanvas')
                    let schoolChart = new Chart(schoolCtx, {
                        type: 'doughnut',
                        data: {
                            labels: schoolNames,
                            datasets: [
                                {
                                    data: schoolNums
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: false
                            },
                            legend: {
                                display: false
                            },
                            labels: {
                                display: false
                            }
                        }
                    })
                </script>
            </div>
            <div class="col-md-4">
                <h2 style="">Majors:</h2>
                <canvas id="majorCanvas" width="400" height="400"></canvas>
                <script>
                    let majorNames = []
                    let majorNums = []

                    {% for major in majors %}
                        majorNames.push('{{ major }}')
                        majorNums.push({{ majors[major] }})
                    {% endfor %}

                    let majorCtx = document.getElementById('majorCanvas')
                    let majorChart = new Chart(majorCtx, {
                        type: 'doughnut',
                        data: {
                            labels: majorNames,
                            datasets: [
                                {
                                    data: majorNums
                                }
                            ]
                        },
                        options: {
                            title: {
                                display: false
                            },
                            legend: {
                                display: false
                            },
                            labels: {
                                display: false
                            }
                        }
                    })
                </script>
            </div>
        </div>
        <div class="row" style="">
            <h2 style="">Counts:</h2>
            <table id="counts" class="table table-striped table-hover table-condensed sortable">
                <thead>
                <tr>
                    <th>Total</th>
                    <th>Attendees</th>
                    <th>Waitlist</th>
                    <th>Checked In</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ total_count }}</td>
                    <td>{{ (total_count - waitlist_count) }}</td>
                    <td>{{ waitlist_count }}</td>
                    <td>{{ check_in_count }}</td>
                </tr>
                </tbody>
            </table>

            <h2 style="margin-top: 2%;">Shirts:</h2>
            <table id="shirts" class="table table-striped table-hover table-condensed sortable">
                <thead>
                <tr>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ shirt_count['xs'] }}</td>
                    <td>{{ shirt_count['s'] }}</td>
                    <td>{{ shirt_count['m'] }}</td>
                    <td>{{ shirt_count['l'] }}</td>
                    <td>{{ shirt_count['xl'] }}</td>
                </tr>
                </tbody>
            </table>

            <h2 style="margin-top: 2%;">Hackers:</h2>
            <table id="hackers" class="table table-striped table-hover table-condensed sortable">
                <thead>
                <tr>
                    <th>Options</th>
                    <th>Checked In?</th>
                    <th>Waitlisted?</th>
                    <th>Minor?</th>
                    <th>MLH ID</th>
                    <th>Time Registered</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Diet</th>
                    <th>Special</th>
                    <th>School</th>
                </tr>
                </thead>
                <tbody>
                {% for hacker in hackers %}
                    <tr id="{{ hacker['id'] }}-row">
                        <td>
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% if not hacker['checked_in'] %}
                                        <li><a class="check_in" id="{{ hacker['id'] }}-check_in" href="#">Check In</a>
                                        </li>
                                    {% endif %}
                                    {% if hacker['waitlisted'] and not hacker['checked_in'] %}
                                        <li><a class="promote_from_waitlist"
                                               id="{{ hacker['id'] }}-promote_from_waitlist"
                                               href="#">Promote From Waitlist</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    {% if not hacker['checked_in'] %}
                                        <li><a class="drop" id="{{ hacker['id'] }}-drop" href="#">Drop Application</a>
                                        </li>
                                    {% endif %}
                                    {% if hacker['admin'] %}
                                        <li><a class="demote_admin" id="{{ hacker['id'] }}-demote_admin" href="#">Demote
                                            Admin</a>
                                        </li>
                                    {% else %}
                                        <li><a class="promote_admin" id="{{ hacker['id'] }}-promote_admin" href="#">Promote
                                            Admin</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td id="{{ hacker['id'] }}-checked_in">{{ hacker['checked_in'] }}</td>
                        <td id="{{ hacker['id'] }}-waitlisted">{{ hacker['waitlisted'] }}</td>
                        <td>{{ hacker['minor'] }}</td>
                        <td>{{ hacker['id'] }}</td>
                        <td>{{ hacker['registration_time'] }}</td>
                        <td>{{ hacker['email'] }}</td>
                        <td>{{ hacker['first_name'] + ' ' + hacker['last_name'] }}</td>
                        <td>{{ hacker['phone_number'] }}</td>
                        <td>{{ hacker['dietary_restrictions'] }}</td>
                        <td>{{ hacker['special_needs'] }}</td>
                        <td>{{ hacker['school']['name'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        setTimeout('let myTh = document.getElementsByTagName("th")[14]; sorttable.innerSortFunction.apply(myTh, []); sorttable.innerSortFunction.apply(myTh, []);', 50)
    })
</script>
{% include 'footer.html' %}