{% include 'header.html' %}
<script src="https://unpkg.com/sweetalert@2.1.0/dist/sweetalert.min.js"
        integrity="sha384-UQsTmaPFDZmoSs+C5muZerOkn3H9/UibH1bDNhuzxtDQNJ7bEKJtW7swm78LgNCh"
        crossorigin="anonymous"></script>

<div class="contact-section" style="height: 100%;">
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <h1>Hi {{ name }}!</h1>
            {% if waitlisted %}
                <h1>You are waitlisted, if space opens up we ill let you know...</h1>
            {% else %}
                <h1>You are fully registered! We look forward to seeing you!</h1>
            {% endif %}
            <br>
            <h2>Here are your available actions... </h2>
            <a href="#" id="drop-link"><p>Drop Application :(</p></a>
            {% if admin %}
                <a href="/admin"><p>Admin Dashboard</p></a>
            {% endif %}
            <a href="https://docs.google.com/presentation/d/11gkNtgZf04OCj-mSIc_UX8qKbkMC_Bea66PfBJYqMsk/edit?usp=sharing">
                <p>View
                    opening slides!</p></a>
        </div>
    </div>
</div>

<script>
    let errColor = '#E74C3C'

    $(document).ready(() = > {
        $('#drop-link'
    ).click((e) = > {
        e.preventDefault()
    let id = {{ id }}
        drop(id)
    })
    })

    const drop = (id) =
    >
    {
        swal({
            title: 'Drop your application?',
            text: 'Are you sure you wish to drop your application? This cannot be undone.',
            icon: 'warning',
            buttons: {
              cancel: {
                text: 'Cancel',
                value: null,
                visible: true,
                className: '',
                closeModal: true
              },
              confirm: {
                text: 'Yes, drop!',
                value: true,
                visible: true,
                className: '',
                closeModal: false
              }
            },
            className: 'swal-error'
        }, () = > {
            $.get('/drop?mlh_id=' + id, (data) = > {
            let title = ''
            let msg = ''
            let icon = ''
            if (data.status === 'success'
    )
        {
            title = 'Dropped!'
            msg = 'Your application was successfully dropped!'
            icon = 'success'
        }
    else
        {
            title = 'Error!'
            msg = JSON.stringify(data)
            icon = 'error'
        }
        swal(title, msg, icon)
        if (data.status === 'success') {
            setTimeout(() = > {window.location = '/'
        },
            5000
        )
        }
    })
    })
    }
</script>

{% include 'footer.html' %}